a, a:visited {
	text-decoration: none;
    color: white;
}

body{

    background-image: url('../pictures/fond-sable.jpg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px 2px black;
}
/* ENTÊTE */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
div.nom {
    width: 200px ;
    height: 50px;
    position: absolute;
    left :20px;
    top: 20px;
}
div.nom p.prenom {
    text-align: center;
    font-size: 25px;
    padding: 10px 0 10px 0;
    margin: 0;
    text-transform: uppercase ;
}

/* NAVIGATION */
ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
}
ul.menu{
    right: 20px;
    top: 20px;
}
ul.rs{
    left: 40px;
    bottom: 20px;
}
ul> li {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}
/* MILIEU */
section{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
div.projet1{
    background-image: url('../pictures/Screen.jpg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width: 25%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}
div.projet2{
    background-image: url('../pictures/Computer.jpg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width: 25%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 25%;
    top: 0;
}
div.projet3{
    background-image: url('../pictures/Desk.jpg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width: 25%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0;
}
div.projet4{
    background-image: url('../pictures/Keyboard.jpg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width: 25%;
    height: 100%;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
section div a{
    font-size: 25px;
    display: block;
    width: 100%;
    height: 100px;
    padding: 40px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
section div a p{
    font-size: 20px;
}
section div a h2{
    margin: 10px;
}

section div a:hover,
section div a:focus{

}


/* FOOTER */

footer {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}
