a, a:visited {
	text-decoration: none;
    color: white;
}
a:hover, a:focus{
    text-decoration: underline;
}

body{
    background-image: url('../pictures/fond-sable.jpg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding-bottom:80px ;
}
/* ENTÊTE */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
div.nom {
    width: 200px ;
    height: 50px;
    position: absolute;
    left :20px;
    top: 20px;
}
div.nom p.prenom {
    text-align: center;
    font-size: 25px;
    padding: 10px 0 10px 0;
    margin: 0;
    text-transform: uppercase ;
}
div.nom a:hover, a:focus{
    text-decoration: none;
}
/* NAVIGATION */
ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
}
ul.menu{
    right: 20px;
    top: 20px;
}
ul.rs{
    left: 40px;
    bottom: 20px;
}
ul> li {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}
a:hover, a:focus{
    text-decoration: underline;
}
/* MILIEU */
/* SECTION HAUTE */
section.premier{    
    background-image: url(../pictures/Java.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
div.titre{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    height: auto;
}
div.titre h1{
    text-transform: uppercase;
    font-size: 75px;
}

/* SECTION BASSE */

section.textes{
    background-color: rgb(30, 30, 30);
    height: auto;
    width: 100%;
    margin: 0;
    padding: 20px 20px 20px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
    position: relative;
}
section.textes div{
    padding: 10px;
    margin: 10px;
}
article{
    background-color: royalblue;
    width: 65%;
    height: auto;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
    position: relative;
}
article div{
    height: auto;
}
div.presentation{
    background-color: darkkhaki;
}
div.illustrations{    
    background-color: darkmagenta;
    position: relative;
    height: 300px;
}
div.illustrations:after{
    display: inline-block;
    content: "";
    background-image: url(../pictures/Java.jpg);
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 90%;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
}
div.particularite{
    background-color: darksalmon;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    position: relative;
}
div.particularite p{
    display: inline-block;
    width: 50%;
}
div.solution{
    background-color: darkturquoise;
}
div.rendu{
    background-color: darkseagreen;
}
section.textes h2{
    text-transform: uppercase;
}
section.textes a.projets{
    /* background-color: darkorange; */
    display: block;
    position: absolute;
    right: 10%;
    bottom: 10px;
    width: auto;
    height: auto;
}
section.textes a.contact{
    /* background-color: darkorange; */
    display: block;
    position: absolute;
    Left: 10%;
    bottom: 10px;
    width: auto;
    height: auto;
}
/* FOOTER */

footer {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}
